.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 22px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

table {
  border: solid;
  border-collapse: collapse;
  margin-top: 30px;
}

.winning {
  background-color: #cccccc;
}

td {
  border: solid;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 5em;
  font-weight: bold;
}

.svg-container {
  width: 80px;
  height: 80px;
}

circle {
  cx: 40;
  cy: 40;
  r: 34;
  stroke: #333;
  stroke-width: 10px;
  stroke-dasharray: 215;
  stroke-dashoffset: 215;
  animation: draw_it 1s ;
  animation-fill-mode: forwards;
}

line {
  stroke: #333;
  stroke-width: 10px;
}

@keyframes draw_it {
  from {
      stroke-dashoffset: 215;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@media screen and (min-width: 480px) {
  td {
    border: solid;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 8em;
  }

  .svg-container {
    width: 120px;
    height: 120px;
  }

  circle {
    cx: 60;
    cy: 60;
    r: 50;
    stroke-width: 15px;
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
    animation: draw_it 1s ;
    animation-fill-mode: forwards;
  }

  line {
    stroke-width: 15px;
  }

  @keyframes draw_it {
    from {
        stroke-dashoffset: 314;
    }
      to {
        stroke-dashoffset: 0;
      }
    }
}
